<% provide(:title, "Edit your team") %>
<h1>Change your team</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for([@user, @team]) do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<% @players.each do |player| %>
				<%= label_tag player.name, class: "checkbox inline", style: "margin-left: 17px" do %>
					<%= check_box_tag 'players[]', player.id %>
					<%= player.price %> - <%= player.name %> - <%= player.position.pos %></p>
				<% end %>
			<% end %>

			<%= f.submit "Update", class: 'btn btn-primary' %>
		<% end %>
	</div>

</div>