<h1><%= @team.name %> 
	<% if current_user?(@user) %>
		| <%= link_to "Change team", edit_user_team_path(current_user, current_user.team)  %>
	<% end %>
</h1>
<p class="center" style="margin-top: -20px"><i>(<%= @user.name %>s lag)</i></p><br />

<% @team.players.all.each do |player| %>
	<h4 class="center"><%= player.name %></h4>
<% end %>