<%= link_to "Add player", new_player_path %><br />
<%= link_to "See all players", playerlist_path %><br />
<%= link_to "Create new match", new_match_path %><br />
<%= link_to "Edit matches", matches_path %>