<div class="center jumbotron">
	<h1> Välkommen till SK IT Fantasy</h1>

	<h2>Här kommer det snart finnas massa godsaker</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>