<% provide(:title, "Fantasy league") %>

<h1>Current status in fantasy league</h1>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<table class="table">
			<thead>
				<tr>
					<td><strong>Lagnamn</strong></td>
					<td><strong>Poäng</strong></td>
				</tr>
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.team.name, user %></td>
					<td><%= user.team.get_points %></td>
				</tr>
			</thead>
			<% end %>
		</table>
	</div>
</div>