<% provide(:title, "Poängliga") %>

<h1>Intern poängliga</h1>

<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<table id="scorestable" class="table">
			<thead>
				<tr>
					<td></td>
					<td>Games</td>
					<td>Goals</td>
					<td>Assists</td>
					<td>Pos</td>
					<td>Neg</td>
					<td>Penalties</td>
					<td>MVP's</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				<% @players.each do |player| %>
				<tr>
					<td><%= player.name %></td>
					<td><%= PlayerScore.where(player_id: player.id).sum(:games) %></td>
					<td><%= PlayerScore.where(player_id: player.id).sum(:goals) %></td>
					<td><%= PlayerScore.where(player_id: player.id).sum(:assists) %></td>
					<td><%= PlayerScore.where(player_id: player.id).sum(:pos) %></td>
					<td><%= PlayerScore.where(player_id: player.id).sum(:neg) %></td>
					<td><%= PlayerScore.where(player_id: player.id).sum(:penalties) %></td>
					<td><%= PlayerScore.where(player_id: player.id).sum(:mvp) %></td>
					<td><%= player.total_score %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>



