<% provide(:title, "New match") %>

<h1>New match</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="reporttable">
	  <table class="center" style="text-align: center">
		<thead class="center">
		  <tr>
			<td></td>
			<td>Goals</td>
			<td>Asssists</td>
			<td>Pos</td>
			<td>Neg</td>
			<td>Penalties</td>
			<td>MVP</td>
		</tr>
	  </thead>
    <tbody>
	
	<%= form_tag :player_score do %>

	<% @players.each do |player| %>
		
	<tr>
	
		<td><strong><%= player.name %></strong></td>

			<%= fields_for "test[]", player do |p| %>

		 	<td>
			<!-- <%= p.label :goals, "Mål" %> -->
			<%= p.number_field :goals, class: "numberinput center", placeholder: "0" %>
			</td>

			<td>
			<!-- <%= p.label :assists, "Assist" %> -->
			<%= p.number_field :assists, class: "numberinput center", placeholder: "0" %>
			</td>

			<td>
			<!-- <%= p.label :pos, "Framåtmål" %> -->
			<%= p.number_field :pos, class: "numberinput center", placeholder: "0" %>
			</td>

			<td>
			<!-- <%= p.label :neg, "Bakåtmål" %> -->
			<%= p.number_field :neg, class: "numberinput center", placeholder: "0"  %>
			</td>

			<td>
			<%= p.number_field :penalties, class: "numberinput center", placeholder: "0"  %>
			</td>

			<td>
			<!-- <%= p.label :mvp, "MVP" %> -->
			<%= p.number_field :mvp, class: "numberinput center", placeholder: "0" %>
			</td>

		</tr>

		<% end %>

		<%= submit_tag "Lägg till match", class: "btn btn-primary" %>s

	<% end %>
	<% end %>


        </tbody>
      </table>
    </div>
  </div>
</div>
