<h1><%= @user.team.name %></h1>
<p class="center" style="margin-top: -20px"><i>(<%= @user.name %>s lag)</i></p><br />

<% @user.team.players.all.each do |player| %>
	<h4 class="center"><%= player.name %></h4>
<% end %>