<% provide(:title, @user.name) %>
<div class="row">
	<!--<aside class="col-md-4">
		<section class="user_info">
			<h1><%= @user.name %></h1>
		</section>
	</aside>-->

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<%= render 'team' %>
		</div>
	</div>
</div>