<% provide(:title, "Edit player") %>
<h1>Edit this player</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@player) do |f| %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :desc %>
			<%= f.text_field :desc, class: 'form-control' %>

			<%= f.label :position_id %>
			<%= f.collection_select(:position_id, Position.all, :id, :pos) %>

			<%= f.label :price %>
			<%= f.text_field :price, class: 'form-control' %>

			<%= f.submit "Save changes", class: 'btn btn-primary' %>
		<% end %>

	</div>
</div>