<ul class="adminplayerlist">
	<% @players.each do |player| %>
		<li>
			<%= link_to player.name, player_path(player) %>
			<% unless !current_user.admin? %> 
				| <%= link_to "Edit", edit_player_path(player) %>
				| <%= link_to "Delete", player, method: :delete, data: { confirm: "You sure?" } %>
			<% end %>
		</li>
	<% end %>
</ul>