<h1>Update match</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">

<%= form_for(@match) do |f| %>
	<%= f.label :home_team %>
	<%= f.text_field :home_team %>

	<%= f.label :away_team %>
	<%= f.text_field :away_team %>

	<%= f.label :home_goal %>
	<%= f.text_field :home_goal %>

	<%= f.label :away_goal %>
	<%= f.text_field :away_goal %>

	<%= f.submit "Uppdatera match", class: "btn btn-primary" %>
<% end %>

</div>
</div>