<% provide(:title, "All matches") %>

<h1>All matches</h1>
<% @matches.each do |match| %>
	<h1><%= match.home_team %> - <%= match.away_team %> | <%= link_to "EDIT", edit_match_path(match) %></h1><br />
<% end %>