<% provide(:title, "New match") %>

<h1>New match</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@match) do |m| %>
		
		<center>
			<div class="field">
				<%= m.label :home_team %>
				<%= m.text_field :home_team %>
			</div>
			<div class="field">
				<%= m.label :away_team %>
				<%= m.text_field :away_team %>
			</div>
		</center>
		<br />

		<div id="reporttable">
			<table class="center" style="text-align: center">
				<thead class="center">
					<tr>
						<td></td>
						<td>Games</td>
						<td>Goals</td>
						<td>Asssists</td>
						<td>Pos</td>
						<td>Neg</td>
						<td>Penalties</td>
						<td>MVP</td>
					</tr>
				</thead>
				<tbody>

					<% @players.each do |player| %>
					
					<tr>
						
						<td><strong><%= player.name %></strong></td>

						<%= m.fields_for :player_scores, PlayerScore.new do |p| %>

						<td>
							<%= p.number_field :games, class: "numberinput center", value: "0" %>
						</td>

						<td>
							<!-- <%= p.label :goals, "Mål" %> -->
							<%= p.number_field :goals, class: "numberinput center", value: "0" %>
						</td>

						<td>
							<!-- <%= p.label :assists, "Assist" %> -->
							<%= p.number_field :assists, class: "numberinput center", value: "0" %>
						</td>

						<td>
							<!-- <%= p.label :pos, "Framåtmål" %> -->
							<%= p.number_field :pos, class: "numberinput center", value: "0" %>
						</td>

						<td>
							<!-- <%= p.label :neg, "Bakåtmål" %> -->
							<%= p.number_field :neg, class: "numberinput center", value: "0"  %>
						</td>

						<td>
							<%= p.number_field :penalties, class: "numberinput center", value: "0"  %>
						</td>

						<td>
							<!-- <%= p.label :mvp, "MVP" %> -->
							<%= p.number_field :mvp, class: "numberinput center", value: "0" %>
						</td>

						<%= p.hidden_field :player_id, value: player.id %>

						<%= p.hidden_field :date, value: Date.today %>

						<% end %>

					</tr>

					<% end %>
				</tbody>
			</table>
		</div>
		<br />

		<center>
			<div class="field">
				<%= m.label :home_goal, "Home team goals" %>
				<%= m.text_field :home_goal %>
			</div>
			<div class="field">
				<%= m.label :away_goal, "Away team goals" %>
				<%= m.text_field :away_goal %>
			</div>
		</center>
		<%= m.submit "Lägg till match", class: "btn btn-primary" %>

		<% end %>
	</div>
</div>
