<footer class="footer">
  <small>
    Fantasy developed by Tim Lestander
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "League", league_path %></li>
    </ul>
  </nav>
</footer>