<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Fantasy", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "League", league_path %></li>
				<li><%= link_to "Poängliga", scores_path %></li>
				<% if logged_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li><%= link_to "Your team", user_team_path(current_user, current_user.team) %></li>
							<li class="divider"></li>
							<li><%= link_to "Log out", logout_path, method: "delete" %></li>
							<% if is_admin?(current_user) %>
								<li class="divider"></li>
								<li><%= link_to "Administrate", admin_path %></li>
							<% end %>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>